@font-face {
  font-family: Marcelus;
  src: url(./fonts/Marcellus-Regular.ttf);
}


body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: Marcelus;
  font-size: 12px;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.scroll-hide-y{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.scroll-hide-y::-webkit-scrollbar {
  display: none;
}

.wrap MuiDataGrid-cellContent{
  word-break: break-all;
  overflow-y: auto;
}